body {
	height: 100%;
	margin: 0;
	font-size: 12px;
}
button {
	margin: 0;
	border: 1px solid black;
	padding: 0;
	text-align: center;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.clear:after {
    clear: both;
    content: "";
    display: table;
}
#head {
	width: 100%;
	height: 2.5em;
	line-height: 2.5em; 
	background-color: rgba(238, 116, 25, 1);
	font-size: 1.6em;
	color: white;
}
#head img {
	margin-left: 4em;
	vertical-align: -3px;
}
#head span:last-child {
	margin-left: 3em;
	font-size: 0.8em;
	cursor: pointer;
}
#container {
	padding: 40px 10% 0 10%;
	width: 80%;
	min-height: 700px;
	background-color: rgba(239, 239, 239, 1);
}
#main {
	position: relative;
	padding-bottom: 50px;
	width: 100%;
	min-width: 625px;
	background-color: white;
}
#addFirst {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -4em;
	margin-top: -1.1em;
	width: 8em;
	height: 2.2em;
	line-height: 2.2em;
	text-align: center;
	background-color: rgba(238, 116, 25, 1);
	color: white;
	cursor: pointer;
}
#addFirst span{
	margin-right: 0.2em;
	font-size: 2em;
	vertical-align: bottom;
}
ul.qnList-title,
.title {
	width: 100%;
}
ul.qnList-title li input {
	position: absolute;
	top: 0.7em;
}
.title {
	padding: 0 200px 0 10px;
	line-height: 3em;
	background-color: rgba(239, 239, 239, 1);
}
ul.qnList-title li{
	position: relative;
	border-bottom: 1px solid  rgba(239, 239, 239, 1);
	border-left: 10px solid white;
	border-right: 10px solid white;
	padding-right: 190px;
	width: 100%;
	min-width: 615px;
	line-height: 3em;
}
ul.qnList-title li:hover{
	border-left-color: rgba(252, 240, 229, 1);
	border-right-color: rgba(252, 240, 229, 1);
	background-color: rgba(252, 240, 229, 1);
}
ul.qnList-title li,
li .dynamic,
.title,
.operation-QN {
 	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.dynamic {
	float: left;
	width: 100%;
	min-width: 425px;
}
.dynamic span {
	float: left;
}
.dynamic span:nth-of-type(1){
	margin-left: 7%;
	width: 46%;
	text-overflow: ellipsis;
}
.dynamic span:nth-of-type(2){
	width: 30%;
}
.dynamic span:nth-of-type(3){
	width: 17%;
}
.operation-QN {
	float: right;
	position: relative;
	left: 190px;
	margin-left: -100%;
	width: 190px;
}
.operation-QN button,
#dia-choose button {
	margin: 0.6em 0 0 0.2em;
	width: 4.5em;
	height: 1.5em;
	background-color: white;
	cursor: pointer;
}
.operation-QN button {
	float: right;
}
.title button {
	width: 6em;
	background-color: rgba(238, 116, 25, 1);
	color: white;
}
.operation-QN button:hover,
#dia-choose button:hover {
	background-color: rgba(238, 116, 25, 1);
	color: white;
}

/**************Mask********************/
.mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(143, 143, 143, .4);
	z-index: 999;
}
#dia-window {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -130px;
	margin-left: -175px;
	width: 350px;
	height: 160px;
	background-color: white;
}
#dia-window,
#dia-head {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#dia-head {
	padding: 0 1.5em 0 2em; 
	width: 100%;
	height: 3em;
	line-height: 3em;
	background-color: rgba(247, 247, 247, 1);
}
#dia-head,
#dia-container {
 	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#dia-head span{
	margin-left: 260px;
	vertical-align: sub;
	font-size: 2em;
	color: rgba(143, 143, 143, 1);
	cursor: pointer;
}
#dia-container {
	padding: 1.5em 2em 0 2em;
	width: 100%;
	height: 124px;
}
#dia-choose {
	position: absolute;
	left: 111px;
	top: 115px;
}
.hidden {
	display: none;
}

/*********************问卷页QN**************************/
#qn {
	position: relative;
	padding: 0 2.5% 3em 2.5%;
}
.question input,
#qnTitle {
	border: none;
	outline: none;
	background-color: inherit;
}
.question,
.option .option-text,
#addSelection{
 	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#qnTitle {
	margin-bottom: 1em;
	border-bottom: 1px solid rgba(239, 239, 239, 1);
	padding-bottom: 0.5em; 
	width: 100%;
	line-height: 3em;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}
.question {
	margin: 1em;
	padding: 1em 1.5em 1.5em 8%;
}
.question:hover {
	background-color: rgba(252, 240, 229, 1);
}
.question span,
.question .question-title {
	line-height: 2.5em;
	font-weight: bold;
}
.question .question-title {
	width: 100%;
}
.question > span:first-child {
	position: absolute;
	left: 7%;
}
.option {
	position: relative;
	height: 2em;
	line-height: 2em;
}
.option input[type="radio"],
.option input[type="checkbox"] {
	position: absolute;
	top: 3px;
}
.option input[type="text"] {
	padding-left: 2em;
	width: 100%;
}
.question-op span {
	float: right;
	margin-left: 1em;
	cursor: pointer;
}
.question textarea {
	display: block;
	resize: none;
}
#addQ {
	position: relative;
	margin: 1em;
	border: 1px solid rgba(239, 239, 239, 1);
	background-color: rgba(239, 239, 239, 1);
	line-height: 3em;
	font-size: 2em;	
	text-align: center;
}
#addQ img {
	vertical-align: sub;
}
#addSelection {
	padding-top: 1em;
	width: 100%;
	height: 4em;
	font-size: 0.5em;
	background-color: white;
}
#addCenter {
	line-height: 1em;
}
#addCenter button {
	margin-left: 1em;
	width: 6em;
	height: 1.5em;
	text-align: center;
	background-color: rgba(239, 239, 239, 1);
	cursor: pointer;
}
#addCenter button img {
	margin: 0 5px 1px 0;
}
#foot {
	border-top: 1px solid rgba(239, 239, 239, 1);
	padding: 2em 16% 2em 10%;
}
#foot button {
	float: right;
	margin-left: 1em;
	width: 6em;
	line-height: 1.5em;
	text-align: center;
	background-color: white;
}

/*******************日历********************/
#date {
	position: relative;
	display: inline-block;
	margin-left: 0.2em;
	border: 1px solid rgba(239, 239, 239, 1);
	width: 14em;
	height: 1.5em;
	line-height: 1.5em;
	vertical-align: middle;
}
#calendar {
	position: absolute;
	top: 24px;
	width: 169px;
	height: 169px;
	text-align: center;
}
#calendarHead {
	color: white;
	background-color: rgba(238, 116, 25, 1);
}
#arrowTop {
	position: absolute;
	left: 50%;
	top: -1px;
	margin-left: -10px;
}
#arrowLeft {
	float: left;
	margin: 6px 0 0 10px;
}
#arrowRight {
	float: right;
	margin: 6px 10px 0 0;
}
#calendarHead div {
	margin-top: 3px;
	line-height: 2em;
}
#calendarHead div span {
	white-space: pre;
}
#calendar ul li {
	float: left;
	width: 24px;
}
#calendarHead li {
	font-size: 9px;	
}
#calendarMain {
	border-left: 1px solid rgba(239, 239, 239, 1);
	line-height: 20px;
	color: black;
}
#calendarMain li {
	height: 20px;
	border-right: 1px solid rgba(239, 239, 239, 1);
	border-bottom: 1px solid rgba(239, 239, 239, 1);
	font-size: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#calendarMain li:hover {
	background-color: rgba(238, 116, 25, 1);
	color: white;
}
.gray {
	color: gray;
}
/*******************数据***********************/
.question-chart .question {
	float: left;
	width: 55%;
}
.chart {
	float: right;
	margin-top: 1em;
	padding-top: 1em;
	width: 40%;
	height: 130px;
}
.zhuzi,
.yes,
.no,
.chart {
 	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.zhuzi,
.yes,
.no,
.chart {
	float: left;
}
.zhuzi {
	margin-top: 2px;
	margin-right: 0.8em;
	border-left: 1px solid rgba(238, 116, 25, 1);
	width: 80%;
	height: 80%;
}
.yes {
	height: 100%;
	background-color: rgba(238, 116, 25, 1);
}
.no {
	height: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}