@import "../style/veriable.scss";
@import "../style/mixins.scss";

#addFirst {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -4rem;
	margin-top: -1.1rem;
	@include button;
	@include size(8rem, 2.2rem);
	line-height: 2.2rem;
	text-align: center;
	background-color: $orange;
	color: $white;
	cursor: pointer;
	span{
		margin-right: 0.2rem;
		font-size: 2rem;
		vertical-align: bottom;
	}
}
ul.qnList-title,
.title {
	width: 100%;
}
.title {
	padding: 0 16.7rem 0 .83rem;
	line-height: 3rem;
	background-color: $BackGray;
}
ul.qnList-title > li{
	position: relative;
	border-bottom: 1px solid  $BackGray;
	border-left: .83rem solid white;
	border-right: .83rem solid white;
	padding-right: 15.8rem;
	width: 100%;
	line-height: 3rem;
	&:hover{
		border-left-color: $pink;
		border-right-color: $pink;
		background-color: $pink;
	}
	.checkbox-round {
		position: absolute;
		top: 0.7rem;
		border-radius: 100%;
		border: 1px solid $BackGray;
		@include size(1rem, 1rem);
		input {
			z-index: -99999;
			&:checked + label {
				background-color: $orange;
			}
		}
		label {
			display: block;
			@include size(.8rem, .8rem);
			border-radius: 100%;
		}
	}
}
ul.qnList-title > li:last-of-type {
	margin-bottom: .7rem;
}
ul.qnList-title li,
li .dynamic,
.title,
.operation-QN {
	@include box-sizing(border-box);
}
.dynamic {
	float: left;
	width: 100%;
	min-width: 35.4rem;
	span {
		float: left;
	}
}
.dynamic span:nth-of-type(1){
	margin-left: 7%;
	padding-right: 1.3rem;
	width: 46%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	@include box-sizing(border-box);
}
.dynamic span:nth-of-type(2){
	width: 30%;
}
.dynamic span:nth-of-type(3){
	width: 17%;
}
.operation-QN {
	float: right;
	position: relative;
	left: 15.8rem;
	margin-left: -100%;
	width: 15.8rem;
}
.operation-QN button,
#dia-choose button {
	@include button;
	margin: 0.6rem 0 0 0.2rem;
}
ul.qnList-title > button {
	@include button;
	margin-left: 1rem;
}
ul.qnList-title > input {
	margin-left: 1.2rem;
	vertical-align: text-top;
}
.operation-QN button {
	float: right;
}
.title button {
	@include size(7rem, 1.8rem);
	border: 1px solid $orange;
	background-color: $orange;
	color: white;
}
</style>